<div id="div2" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ui-sortable">
    <div class="row control" draggable="true" id="17" data-controltype="text" style="position: relative; left: 0px; top: 0px;" data-toggle="popover" data-placement="right" data-original-title="" title="">
        <div class="col-md-3 col-lg-3">
            <label data-controltype="label">Shop's Name</label>
        </div>
        <div class="col-md-9 col-lg-9">
            <input class="col-md-12 col-lg-12 form-control" type="text" placeholder="shopname" data-controltype="text"><span class="help-block col-md-12 col-lg-12" data-controltype="describe">Display Name of Shop</span></div>
    </div>
    <div class="row control" draggable="true" id="18" data-controltype="text" style="position: relative; left: 0px; top: 0px;" data-toggle="popover" data-placement="right" data-original-title="" title="">
        <div class="col-md-3 col-lg-3">
            <label data-controltype="label">Shop's Slogan</label>
        </div>
        <div class="col-md-9 col-lg-9">
            <input class="col-md-12 col-lg-12 form-control" type="text" placeholder="slogan" data-controltype="text"><span class="help-block col-md-12 col-lg-12" data-controltype="describe">Emphasize your message to customers</span></div>
    </div>
    <div class="row control" draggable="true" id="19" data-controltype="text" style="position: relative; left: 0px; top: 0px;" data-toggle="popover" data-placement="right" data-original-title="" title="">
        <div class="col-md-3 col-lg-3">
            <label data-controltype="label">Company's Name or Group's Name</label>
        </div>
        <div class="col-md-9 col-lg-9">
            <input class="col-md-12 col-lg-12 form-control" type="text" placeholder="Company Name" data-controltype="text"><span class="help-block col-md-12 col-lg-12" data-controltype="describe">Display Company or Group's Name</span></div>
    </div>
    <!--  -->
    <div class="row control" draggable="true" id="22" data-controltype="image" style="position: relative; left: 0px; top: 0px;" data-toggle="popover" data-placement="right" data-original-title="" title="">
        <div class="col-md-3 col-lg-3">
            <label data-controltype="label">Shop Icon</label>
        </div>
        <div class="col-md-9 col-lg-9">
            <div style="outline: rgba(255, 255, 255, 0.2) solid 3px; background-image: url(&quot;https://rawgit.com/PhanHoangAnh/CreateDynamicAttributeSets/master/materials/sample.jpg&quot;); background-size: cover; background-repeat: no-repeat;">
                <div app-role="mask" style="position: relative; z-index: 5; padding-top: 100%;"></div>
            </div><span class="help-block col-md-12 col-lg-12" data-controltype="describe">Select shop's icont</span></div>
    </div>
    <div class="row control" draggable="true" id="23" data-controltype="image" style="position: relative; left: 0px; top: 0px;" data-toggle="popover" data-placement="right" data-original-title="" title="">
        <div class="col-md-3 col-lg-3">
            <label data-controltype="label">Shop's background</label>
        </div>
        <div class="col-md-9 col-lg-9">
            <div style="outline: rgba(255, 255, 255, 0.2) solid 3px; background-image: url(&quot;https://rawgit.com/PhanHoangAnh/CreateDynamicAttributeSets/master/materials/sample.jpg&quot;); background-size: cover; background-repeat: no-repeat;">
                <div app-role="mask" style="position: relative; z-index: 5; padding-top: 56.25%;"></div>
            </div><span class="help-block col-md-12 col-lg-12" data-controltype="describe">Select background image for your shop</span></div>
    </div>
    <div class="row control" draggable="true" id="24" data-controltype="textarea" style="position: relative; left: 0px; top: 0px;" data-toggle="popover" data-placement="right" data-original-title="" title="">
        <div class="col-md-3 col-lg-3">
            <label data-controltype="label">Shop's Introduction</label>
        </div>
        <div class="col-md-9 col-lg-9">
            <textarea class="col-md-12 col-lg-12 form-control" data-controltype="textarea"></textarea><span class="help-block col-md-12 col-lg-12" data-controltype="describe">Something about your shop</span></div>
    </div>
</div>
<div style=" height: 74px; width: 74px">
    <img id="iconHolder" style="width: 100%; height:auto" src="https://rawgit.com/PhanHoangAnh/CreateDynamicAttributeSets/master/materials/sample.jpg">
</div>
<div class="row control" id="26" data-controltype="number" style="position: relative; left: 0px; top: 0px;">
    <div class="col-md-3 col-lg-3">
        <label data-controltype="label">Contact Phone Number</label>
    </div>
    <div class="col-md-9 col-lg-9">
        <input class="col-md-12 col-lg-12 form-control" data-controltype="number" type="number" placeholder="Contact Phone Number"><span class="help-block col-md-12 col-lg-12" data-controltype="describe">Contact Phone Number</span></div>
</div>

<div class="row control" id="27" data-controltype="text" style="position: relative; left: 0px; top: 0px;" >
    <div class="col-md-3 col-lg-3">
        <label data-controltype="label">Shop Address</label>
    </div>
    <div class="col-md-9 col-lg-9">
        <input class="col-md-12 col-lg-12 form-control" type="text" placeholder="Provide Shop address by typing input or drag on map bellow" data-controltype="text"><span class="help-block col-md-12 col-lg-12" data-controltype="describe">Provide Shop address by typing input or drag on map bellow</span></div>
</div>
