
.crumbs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.crumbs li{
    margin: 0;
    padding: 0;
}

.crumbs ul li a {
    /*display: block;*/
    width: 200px;
    list-style-type: none;
    float: left;
    height: 40px;
    background: rgb(0, 0, 0);
    text-align: center;
    position: relative;
    margin: 0 11px 0 0;
    /*    font-size: 20px;*/
    text-decoration: none;
    color: #fff;
    padding: 10px 40px 0 40px;
    box-sizing: border-box;
}

.crumbs ul li a:after {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 10px solid rgb(0, 0, 0);
    position: absolute;
    right: -10px;
    top: 0;
}

.crumbs ul li:not(:first-child) a:before {
    /*.crumbs ul li a:before {*/
    content: "";
    border-top: 20px solid rgb(0, 0, 0);
    border-bottom: 20px solid rgb(0, 0, 0);
    border-left: 10px solid transparent;
    position: absolute;
    left: -10px;
    top: 0;
}


/*hover*/

.crumbs ul li a:hover {
	background-color: rgba(255, 0, 102, .8) !important;
}
.crumbs ul li a:hover:before {
/*    border-left: 10px solid rgba(255, 0, 102, .8);*/
    border-top: 20px solid rgba(255, 0, 102, .8) !important;
    border-bottom: 20px solid rgba(255, 0, 102, .8) !important;
}
.crumbs ul li a:hover:after {
	border-left: 10px solid rgba(255, 0, 102, .8) !important;
}

/*for each transparent item*/

.crumbs ul li a.two {
    background: rgba(0
, 0, 0, .7);
}

.crumbs ul li a.two:after {
    border-left: 10px solid rgba(0, 0, 0, .7);
}

.crumbs ul li a.two:before {
    border-top: 20px solid rgba(0, 0, 0, .7);
    border-bottom: 20px solid rgba(0, 0, 0, .7);
}


/*three*/

.crumbs ul li a.three {
    background: rgba(0, 0, 0, .4);
}

.crumbs ul li a.three:after {
    border-left: 10px solid rgba(0, 0, 0, .4);
}

.crumbs ul li a.three:before {
    border-top: 20px solid rgba(0, 0, 0, .4);
    border-bottom: 20px solid rgba(0, 0, 0, .4);
}


/*four*/

.crumbs ul li a.four {
    background: rgba(0, 0, 0, .1);
}

.crumbs ul li a.four:after {
    border-left: 10px solid rgba(0, 0, 0, .1);
}

.crumbs ul li a.four:before {
    border-top: 20px solid rgba(0, 0, 0, .1);
    border-bottom: 20px solid rgba(0, 0, 0, .1);
}


/*five*/

.crumbs ul li a.five {
    background: rgba(0, 0, 0, .0);
}

.crumbs ul li a.five:after {
    border-left: 10px solid rgba(0, 0, 0, .0);
}

.crumbs ul li a.five:before {
    border-top: 20px solid rgba(0, 0, 0, .0);
    border-bottom: 20px solid rgba(0, 0, 0, .0);
}