@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("../fonts/RobotoCondensed-Regular.eot");
  src: url("../fonts/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("../fonts/RobotoCondensed-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url("../fonts/RobotoCondensed-Bold.eot");
  src: url("../fonts/RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed-Bold.ttf") format("truetype"), url("../fonts/RobotoCondensed-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("../fonts/RobotoCondensed-Light.eot");
  src: url("../fonts/RobotoCondensed-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Light.woff") format("woff"), url("../fonts/RobotoCondensed-Light.ttf") format("truetype"), url("../fonts/RobotoCondensed-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed-Italic";
  src: url("../fonts/RobotoCondensed-Italic.eot");
  src: url("../fonts/RobotoCondensed-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Italic.woff") format("woff"), url("../fonts/RobotoCondensed-Italic.ttf") format("truetype"), url("../fonts/RobotoCondensed-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed-BoldItalic";
  src: url("../fonts/RobotoCondensed-BoldItalic.eot");
  src: url("../fonts/RobotoCondensed-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-BoldItalic.woff") format("woff"), url("../fonts/RobotoCondensed-BoldItalic.ttf") format("truetype"), url("../fonts/RobotoCondensed-BoldItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed-LightItalic";
  src: url("../fonts/RobotoCondensed-LightItalic.eot");
  src: url("../fonts/RobotoCondensed-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-LightItalic.woff") format("woff"), url("../fonts/RobotoCondensed-LightItalic.ttf") format("truetype"), url("../fonts/RobotoCondensed-LightItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 2, ../scss/_animates.scss */
#phasebeam {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* line 11, ../scss/_animates.scss */
#phasebeam canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 20, ../scss/_animates.scss */
.animatedIcon {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: iconAni 2s infinite;
  /* Safari 4+ */
  -moz-animation: iconAni 2s infinite;
  /* Fx 5+ */
  -o-animation: iconAni 2s infinite;
  /* Opera 12+ */
  animation: iconAni 2s infinite;
  /* IE 10+, Fx 29*/
}

@-webkit-keyframes iconAni {
  /* line 34, ../scss/_animates.scss */
  0% {
    background-color: #FFF;
    margin-top: 0px;
  }

  /* line 38, ../scss/_animates.scss */
  50% {
    background-color: #5CB85C;
    margin-top: 25px;
  }

  /* line 42, ../scss/_animates.scss */
  100% {
    background-color: #F0a;
    margin-top: 10px;
  }
}
@-moz-keyframes iconAni {
  /* line 49, ../scss/_animates.scss */
  0% {
    background-color: #FFF;
    margin-top: 0px;
  }

  /* line 53, ../scss/_animates.scss */
  50% {
    background-color: #5CB85C;
    margin-top: 25px;
  }

  /* line 57, ../scss/_animates.scss */
  100% {
    background-color: #F0a;
    margin-top: 10px;
  }
}
@-o-keyframes iconAni {
  /* line 64, ../scss/_animates.scss */
  0% {
    background-color: #FFF;
    margin-top: 0px;
  }

  /* line 68, ../scss/_animates.scss */
  50% {
    background-color: #5CB85C;
    margin-top: 25px;
  }

  /* line 72, ../scss/_animates.scss */
  100% {
    background-color: #F0a;
    margin-top: 10px;
  }
}
@keyframes iconAni {
  /* line 79, ../scss/_animates.scss */
  0% {
    background-color: #FFF;
    margin-top: 0px;
  }

  /* line 83, ../scss/_animates.scss */
  50% {
    background-color: #5CB85C;
    margin-top: 25px;
  }

  /* line 87, ../scss/_animates.scss */
  100% {
    background-color: #F0a;
    margin-top: 10px;
  }
}
/* line 15, ../scss/main.scss */
html, body {
  /*padding-top: 50px;*/
  height: 100%;
  min-height: 100%;
}

/* line 20, ../scss/main.scss */
body, header {
  background-color: #000;
}

/* line 24, ../scss/main.scss */
*:hover, *:active, *:focus, img:hover, img:active, img:focus, a:hover, a:active, a:focus {
  outline: none;
}

/* line 28, ../scss/main.scss */
img {
  border: none;
  vertical-align: middle;
}

/*.well-lg {
    padding: 24px;
    border-radius: 0px !important;
}*/
/*.custom-well{
    border-radius: 0px ;
}*/
/* line 39, ../scss/main.scss */
#masthead {
  min-height: 100%;
  /*background-color: #000044;*/
  /*background-image: url(http://cdn.elegantthemes.com/preview/InStyle/wp-content/uploads/2008/11/s-1.jpg);*/
  background: url(../img/background/beauty_01.jpg) center center no-repeat;
  background-size: cover;
  background-size: 115% auto;
  color: #AAC;
}

/* line 48, ../scss/main.scss */
#masthead h1 {
  font-size: 55px;
  line-height: 1;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  margin-top: 80px;
}

/* line 54, ../scss/main.scss */
#masthead .cover {
  padding-top: 10%;
}

/* line 57, ../scss/main.scss */
#masthead .well {
  margin-top: 13%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  border-color: #000033;
}

/* line 63, ../scss/main.scss */
#masthead .row {
  margin-right: -15px;
  margin-left: -15px;
}

/* line 67, ../scss/main.scss */
#avatar {
  border: 4px solid #fff;
  border-radius: 2px;
  height: 160px;
  width: 160px;
}

/* line 73, ../scss/main.scss */
.icon-bar {
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  /* line 77, ../scss/main.scss */
  #masthead h1 {
    font-size: 100px;
  }
}
/*.nabbar {
    font-family: 'Lobster', cursive !important;
}*/
/* line 84, ../scss/main.scss */
.navbar-bright {
  /*background-color: #111155;*/
  color: #fff;
}

/* line 89, ../scss/main.scss */
.navbar-bright a, #masthead a, #masthead .lead {
  color: #aaaacc;
}

/* line 92, ../scss/main.scss */
.navbar-bright li > a:hover {
  background-color: #000033;
}

/*.affix-top, .affix {
    position: static;
}*/
/* line 98, ../scss/main.scss */
.logo, .site-name-and-slogan {
  float: left;
}

/* line 101, ../scss/main.scss */
.logo {
  width: 55px;
  margin: 10px 10px 10px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  max-width: 100%;
  cursor: pointer;
}

/* line 112, ../scss/main.scss */
.site-name {
  font-family: 'Lobster', cursive !important;
  margin-top: 6px;
  font-size: 34px;
  transition: all 0.3s ease-in-out;
  color: #fff;
  float: left;
}

/* line 120, ../scss/main.scss */
.phone {
  margin-left: 15px;
  margin-right: 15px;
  color: #ff3333;
}

/* line 125, ../scss/main.scss */
.phone:hover {
  background-color: #fff;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 2px;
}

/* line 131, ../scss/main.scss */
.myfa-phone {
  transform: rotate(0deg);
}

/* line 134, ../scss/main.scss */
.fa-phone {
  transform: rotate(135deg);
}

/* line 137, ../scss/main.scss */
.fa-phone:hover {
  color: red;
  transform: rotate(90deg);
  transition: all 1s;
}

/* line 142, ../scss/main.scss */
.divider {
  min-height: 172px;
}

/* line 145, ../scss/main.scss */
.equal,
.equal > div[class*='col-'] {
  display: flex;
  flex: 1 1 auto;
  /*flex-wrap: wrap;*/
}

@media only screen and (min-width: 768px) {
  /* line 152, ../scss/main.scss */
  .site-name {
    font-size: 30px;
  }
}
/* line 157, ../scss/main.scss */
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  /*font-family: 'Tinos', serif;*/
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: "RobotoCondensed-Regular", sans-serif;
  font-weight: normal;
}

/* line 163, ../scss/main.scss */
strong, b {
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-weight: normal;
}

/* line 167, ../scss/main.scss */
em {
  font-family: "RobotoCondensed-Italic", sans-serif;
  font-style: normal;
}

/* line 171, ../scss/main.scss */
.footer {
  /*font-family: 'Lobster', cursive !important;*/
}

/* line 174, ../scss/main.scss */
.footer li {
  /*color:#9d9d9d;*/
  list-style-type: none;
  border-bottom: 1px dotted;
  font-size: 18px;
  /*line-height: 20px;*/
  padding: 4px;
  padding-left: 30px;
}

/* line 183, ../scss/main.scss */
.footer li:before {
  content: "\f0c1  ";
  font-family: FontAwesome;
}

/* line 187, ../scss/main.scss */
.alert-minimalist {
  background-color: #f1f2f0;
  border-color: rgba(149, 149, 149, 0.3);
  border-radius: 3px;
  color: #959595;
  padding: 10px;
}

/* line 194, ../scss/main.scss */
.alert-minimalist > [data-notify="icon"] {
  height: 50px;
  margin-right: 12px;
}

/* line 198, ../scss/main.scss */
.alert-minimalist > [data-notify="title"] {
  color: #333333;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* line 204, ../scss/main.scss */
.alert-minimalist > [data-notify="message"] {
  font-size: 80%;
}

/*attribute sets*/
/* line 210, ../scss/main.scss */
.mini-broad {
  float: left;
  margin: 6px 15px 0;
  font-size: 18px;
  color: #000;
  padding-top: 5px; padding-bottom: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 215, ../scss/main.scss */
.mini-broad:hover {
  background-color: #FFF;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 2px;
  color: inherit;
  text-decoration: none;
}
/* line 221, ../scss/main.scss */
.mini-broad img {
  width: auto;
  height: 38px;
  vertical-align: middle;
}
/* line 222, ../scss/main.scss */
.mini-broad span {
  padding-left: 5px;
}

/* line 226, ../scss/main.scss */
.navbar.affix .mini-broad {
  color: #FFF;
}
/* line 228, ../scss/main.scss */
.navbar.affix .mini-broad:hover {
  background: transparent;
}

/* line 232, ../scss/main.scss */
.attribute-sets, .dashboard-management {
  min-height: 100%;
}

/* line 235, ../scss/main.scss */
.attribute-sets {
  background-color: rgba(0, 0, 0, 0.65);
  padding-top: 15px;
}
/* line 238, ../scss/main.scss */
.attribute-sets fieldset.scheduler-border {
  border: 1px groove #ddd;
  padding: 0 1.4em 1.4em 1.4em;
  margin: 0 0 1.5em 0;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
}
/* line 246, ../scss/main.scss */
.attribute-sets legend.scheduler-border {
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: left;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}
/* line 255, ../scss/main.scss */
.attribute-sets .popover {
  min-width: 400px;
  border-radius: 2px;
}
/* line 258, ../scss/main.scss */
.attribute-sets .popover .popover-title {
  border-radius: 1px 1px 0 0;
}
/* line 263, ../scss/main.scss */
.attribute-sets .btn {
  border-radius: 2px;
}
/* line 265, ../scss/main.scss */
.attribute-sets .control {
  padding: 10px;
}
/* line 269, ../scss/main.scss */
.attribute-sets .ui-sortable-placeholder {
  border: 1px dashed #aaa;
  height: 45px;
  width: 100%;
  background: #fafafa;
}
/* line 276, ../scss/main.scss */
.attribute-sets main_panel label {
  color: inherit;
  padding-left: 0;
}
/* line 279, ../scss/main.scss */
.attribute-sets main_panel label, .attribute-sets main_panel label + input[type="checkbox"], .attribute-sets main_panel label + input[type="radio"] {
  width: auto;
}
/* line 284, ../scss/main.scss */
.attribute-sets main_panel > label {
  margin-top: 7px;
}
/* line 288, ../scss/main.scss */
.attribute-sets .popover-title {
  background: #00A600;
  text-transform: capitalize;
  color: #FFF;
}
/* line 294, ../scss/main.scss */
.attribute-sets .help-block {
  padding-left: 0;
}
/* line 298, ../scss/main.scss */
.attribute-sets legend, .attribute-sets label, .attribute-sets .help-block, .attribute-sets a, .attribute-sets span {
  color: #555;
  font-weight: normal;
}
/* line 303, ../scss/main.scss */
.attribute-sets .nav-tabs > li > a:hover {
  color: inherit;
}
/* line 305, ../scss/main.scss */
.attribute-sets .tab-content {
  padding-top: 20px;
}
/* line 308, ../scss/main.scss */
.attribute-sets #div1, .attribute-sets #div2 {
  min-height: 50px;
  padding: 30px 20px 50px;
}
/* line 312, ../scss/main.scss */
.attribute-sets .c-left {
  float: left;
  clear: left;
}
/* line 316, ../scss/main.scss */
.attribute-sets .row.control {
  position: relative;
  cursor: pointer;
  zoom: 1;
}
/* line 145, ../scss/_mixins.scss */
.attribute-sets .row.control:after {
  content: '.';
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}
/* line 320, ../scss/main.scss */
.attribute-sets .row.control:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.modal-content, .btn {
    border-radius: 2px;
}
.preview + .preview-md, .preview-md + .preview-sm {
  display: none;
}

/*metro style*/
/* line 331, ../scss/main.scss */
.heading-page {
  padding-top: 140px;
}
/* line 333, ../scss/main.scss */
.heading-page h1, .heading-page .h1 {
  color: #FFF;
}

/* line 337, ../scss/main.scss */
.flat-item {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 185px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.65);
  color: #FFF;
}
/* line 343, ../scss/main.scss */
.flat-item img {
  position: absolute;
  max-height: 100%;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 347, ../scss/main.scss */
.flat-item img.avatar {
  right: 0;
  left: auto;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 352, ../scss/main.scss */
.flat-item .fa, .flat-item .text-title {
  position: absolute;
}
/* line 353, ../scss/main.scss */
.flat-item .fa {
  font-size: 4.5em;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 357, ../scss/main.scss */
.flat-item .text-title {
  left: 20px;
  right: 20px;
  bottom: 15px;
  font-size: 18px;
  z-index: 2;
}