.content {
    background-color: #FFFFE0;
    /*rgba(0, 19, 16, .8)*/
    /*#0f1119;*/
    /*#21263a;*/
    /*color: #575757;*/
}

.contentExpanding,
.contentCollasing,
.controlExpanding,
.controlCollasing {
    -webkit-transition: all 1s ease-in-out;
    /* For Safari 3.1 to 6.0 */
    transition: all 1s ease-in-out;
    min-height: 100%;
}

.contentCollasing {
    width: 75%;
}
.contentExpanding {
    width: 100%;
}
.contentCollasing .fa,
.contentExpanding .fa {
    font-size: 30px;
}

.contentCollasing .fa:before {
    content: "\f0da";
}
.contentExpanding .fa:before {
    content: "\f0d9";
}

.controlExpanding, .controlCollasing {
    position: absolute;
    top: 15px; bottom: 15px; min-height: auto;
    overflow: hidden;
    width: calc(25% - 15px);
}
.controlExpanding {
    /*width: 25%;
    margin-left: 10px;*/
    right: 15px;
}
.controlCollasing {
    /*width: 0; display: none;*/
    right: calc(-25% + 15px);
}

.page-wrap {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

#showPanel {
    position: absolute;
    top: 0;
    right: -0px;
    /* width: 32px;
    height: 32px;
    background: #fafafa;*/
    cursor: pointer;
    padding: 10px;
    /*text-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 30px;*/
}
.select2-selection--multiple{
    border-radius: 0px;
}
