.content {
    background-color: #d3d3d3;
}

.contentExpanding {
    width: 100%;
    min-height: 100%;
    -webkit-transition: width 1s;
    /* For Safari 3.1 to 6.0 */
    transition: width 1s;
}

.contentCollasing {
    width: 75%;
    min-height: 100%;
    -webkit-transition: width 1s;
    /* For Safari 3.1 to 6.0 */
    transition: width 1s;
}

.controlExpanding {
    width: 25%;
    min-height: 100%;
    margin-left: 10px;
    -webkit-transition: width 1s;
    /* For Safari 3.1 to 6.0 */
    transition: width 1s;
}

.controlCollasing {
    width: 0;
    min-height: 100%;
    display: none;
    -webkit-transition: width 1s;
    /* For Safari 3.1 to 6.0 */
    transition: width 1s;
}

.page-wrap {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

#showPanel {
    position: absolute;
    top: 0;
    right: -0px;
   /* width: 32px;
    height: 32px;
    background: #fafafa;*/
    cursor: pointer;
    padding: 10px;
    /*text-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 30px;*/
}
