@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("../fonts/RobotoCondensed-Regular.eot");
  src: url("../fonts/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("../fonts/RobotoCondensed-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url("../fonts/RobotoCondensed-Bold.eot");
  src: url("../fonts/RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed-Bold.ttf") format("truetype"), url("../fonts/RobotoCondensed-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("../fonts/RobotoCondensed-Light.eot");
  src: url("../fonts/RobotoCondensed-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Light.woff") format("woff"), url("../fonts/RobotoCondensed-Light.ttf") format("truetype"), url("../fonts/RobotoCondensed-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed-Italic";
  src: url("../fonts/RobotoCondensed-Italic.eot");
  src: url("../fonts/RobotoCondensed-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Italic.woff") format("woff"), url("../fonts/RobotoCondensed-Italic.ttf") format("truetype"), url("../fonts/RobotoCondensed-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed-BoldItalic";
  src: url("../fonts/RobotoCondensed-BoldItalic.eot");
  src: url("../fonts/RobotoCondensed-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-BoldItalic.woff") format("woff"), url("../fonts/RobotoCondensed-BoldItalic.ttf") format("truetype"), url("../fonts/RobotoCondensed-BoldItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed-LightItalic";
  src: url("../fonts/RobotoCondensed-LightItalic.eot");
  src: url("../fonts/RobotoCondensed-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-LightItalic.woff") format("woff"), url("../fonts/RobotoCondensed-LightItalic.ttf") format("truetype"), url("../fonts/RobotoCondensed-LightItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 2, ../scss/_animates.scss */
#phasebeam {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* line 11, ../scss/_animates.scss */
#phasebeam canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 20, ../scss/_animates.scss */
.animatedIcon {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: iconAni 2s infinite;
  /* Safari 4+ */
  -moz-animation: iconAni 2s infinite;
  /* Fx 5+ */
  -o-animation: iconAni 2s infinite;
  /* Opera 12+ */
  animation: iconAni 2s infinite;
  /* IE 10+, Fx 29*/
}

@-webkit-keyframes iconAni {
  0% {
    background-color: #FFF;
    margin-top: 0px;
  }
  50% {
    background-color: #5CB85C;
    margin-top: 25px;
  }
  100% {
    background-color: #F0a;
    margin-top: 10px;
  }
}
@-moz-keyframes iconAni {
  0% {
    background-color: #FFF;
    margin-top: 0px;
  }
  50% {
    background-color: #5CB85C;
    margin-top: 25px;
  }
  100% {
    background-color: #F0a;
    margin-top: 10px;
  }
}
@-o-keyframes iconAni {
  0% {
    background-color: #FFF;
    margin-top: 0px;
  }
  50% {
    background-color: #5CB85C;
    margin-top: 25px;
  }
  100% {
    background-color: #F0a;
    margin-top: 10px;
  }
}
@keyframes iconAni {
  0% {
    background-color: #FFF;
    margin-top: 0px;
  }
  50% {
    background-color: #5CB85C;
    margin-top: 25px;
  }
  100% {
    background-color: #F0a;
    margin-top: 10px;
  }
}
/* line 13, ../scss/main.scss */
html, body {
  height: 100%;
  min-height: 100%;
}

/* line 16, ../scss/main.scss */
body {
  background-color: #000;
}

/* line 18, ../scss/main.scss */
*:hover, *:active, *:focus, img:hover, img:active, img:focus, a:hover, a:active, a:focus {
  outline: none;
}

/* line 22, ../scss/main.scss */
img {
  border: none;
  vertical-align: middle;
}

/* line 24, ../scss/main.scss */
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "RobotoCondensed-Regular", sans-serif;
  font-weight: normal;
}

/* line 28, ../scss/main.scss */
strong, b {
  font-family: "RobotoCondensed-Bold", sans-serif;
  font-weight: normal;
}

/* line 32, ../scss/main.scss */
em {
  font-family: "RobotoCondensed-Italic", sans-serif;
  font-style: normal;
}
