//
// Import Compass
//
@import 'compass';
@import 'compass/css3/user-interface';

//
// Variables & Mixins
//
//@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'animates';
@import 'common';

.heading-page {
  h1, .h1 {text-align: center; margin-bottom: 20px;}
}
.shop-registration {
  position: absolute;
  @include center-pos;
  width: 100%; margin-top: -30px;
  .btn {
    width: 100%; margin-left: auto; margin-right: auto; display: block;
  }
  .panel-body {
    .col-sm-5.col-md-4 {padding-left: 0; padding-right: 15px;}
  }
  .user-account {margin-top: 10px;}
}
.panel-default {@include clearfix;}
footer {
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
}

@media only screen and (max-width: $w-tablet - 1) {
  .shop-registration {
    .btn {
      &.btn-facebook {margin-bottom: 15px;}
    }
    .panel-body {
      .col-sm-5.col-md-4 {padding-left: 15px;}
    }
    .user-account {margin: 10px auto 15px;}
  }
}

@include large-mobile {
  .shop-registration {
    .btn {
      width: 60%;
    }
  }
}
