//
// Import Compass
//
@import 'compass';
@import 'compass/css3/user-interface';

//
// Variables & Mixins
//
//@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'animates';

html, body {
	min-height: 100%;
}
body, header {
    background-color: #000;
}
* , img, a {
	&:hover, &:active, &:focus {
		outline: none;
	}
}
img {
	border: none;
	vertical-align: middle;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $mainFont;
	font-weight: normal;
}
strong, b {
	font-family: $boldFont;
	font-weight: normal;
}
em {
	font-family: $italicFont;
	font-style: normal;
}

/*metro style*/
.dashboard-management {
  min-height: 100%;
}
.heading-page {
  padding: 10px 0;
  &, h1, .h1 {color: #FFF;}
  h1, .h1 {
    @include mobile {font-size: 26px;}
  }
}

.flat-item {
  margin-bottom: 20px;
  color: #FFF;
  cursor: pointer;
  .inner-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    &:before {
      content: "";
      display: block;
      padding-top: 94.87%;
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%; top: 0;
      height: 0; overflow: hidden;
      background-color: transparent;
      @include single-transition(all,0.5s);
      @include border-radius(2px 2px 0 0);
    }
  }
  a {
    color: inherit;
    &:hover {text-decoration: none;}
  }
  img {
    position: absolute; z-index: 2;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 80%; max-height: 80%; width: auto; height: auto;
    @include tablet {
      max-width: 70%; max-height: 70%;
    }
    @include mobile {
      max-width: 60%; max-height: 60%;
    }
  }
  .fa, .glyphicon {
    position: absolute;
    z-index: 3;
    font-size: 4.5em;
    top: 50%;
    left: 50%;
    @include center-pos;
  }
  .caption-text {
    /*Chipl update here*/
    width: 100%;
    display: block;
    padding: 0 20px 0;
    margin: 0;
    font-size: 18px;
    @include mobile {
      font-size: 14px; line-height: 16px;
      padding-top: 3px; padding-bottom: 3px;
    }
    text-align: center;
    @include border-radius(0 0 2px 2px);
    background-color: rgba(0, 0, 0, 0.25);
    &, &:hover, &:focus {text-decoration: none;}
  }
  a {
    color: inherit;
    &:hover {text-decoration: none;}
  }
  &:hover {
    .inner-item:after {
      background-color: rgba(0, 0, 0, 0.25);
      height: 100%;
    }
    .caption-text {
      @include single-transition(all,0.3s);
    }
  }
}

/*search box*/
.search-box {
  position: relative;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 20px 0;
  overflow: hidden;
  i {
    position: absolute;
    top: 50%;
    @include ver-pos;
    left: 30px;
    color: #555;
    font-size: 20px;
  }
  .form-control {
    background-color: transparent;
    border: #8f29b3 solid 1px;
    @include border-radius(2px);
    color: #555;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    padding-left: 45px;
  }
  @include mobile {
    padding-right: 50px;
    i {left: 25px;}
    .form-control {
      font-size: 18px; padding-left: 35px;
    }
  }
}
/*user account*/
.user-account {
  position: absolute;
  z-index: 5;
  top: 10px;
  right: 20px;
  padding-left: 100px;
  overflow: hidden;
  cursor: pointer;
  &, * {
    @include single-transition(all,0.5s);
  }
  .avatar-img, .username-text {
    float: left;
  }
  .avatar-img {
    position: relative;
    overflow: hidden;
    width: 60px;
    height: 60px;
    border-radius: 100% 100%;
    background-color: rgba(0,0,0,.6);
    img {
      max-width: 100%;
      position: absolute;
      @include center-pos;
    }
  }
  .username-text {
    position: absolute;
    top: 50%;
    @include ver-pos;
    left: 0;
    line-height: normal;
    color: #FFF;
    width: 90px;
    text-align: right;
  }
  @include mobile {
    top: 15px;
    right: 15px;
    padding: 0 0 15px;
    .avatar-img, .username-text {
      float: none; display: block;
    }
    .avatar-img {
      width: 40px;
      height: 40px;
      border-radius: 100% 100%;
      background-color: rgba(0,0,0,.6);
    }
    .username-text {
      @include no-pos;
      @include ellipsis;
      left: 0; right: 0; bottom: 0;
      width: auto; font-size: 11px;
      text-align: center;
    }
  }
}

/*grid system responsive*/
@include mobile {
	.col-xs-12 .col-xs-6,
    .col-sm-12 .col-xs-6,
    .col-md-12 .col-xs-6,
    .col-lg-12 .col-xs-6 {
      &:nth-of-type(2n+1) {clear: left;}
    }
}

@include large-mobile {
  .dashboard-management {
    .col-md-12 .col-xs-6 {
      width: 33.33333333%;
      &:nth-of-type(2n+1) {clear: none;}
      &:nth-of-type(3n+1) {clear: left;}
    }
  }
}

@include tablet {
	.col-xs-12 .col-sm-3,
    .col-sm-12 .col-sm-3,
    .col-md-12 .col-sm-3,
    .col-lg-12 .col-sm-3 {
      &:nth-of-type(4n+1) {clear: left;}
  }
}

@include desktop {
	.col-xs-12 .col-md-2,
    .col-sm-12 .col-md-2,
    .col-md-12 .col-md-2,
    .col-lg-12 .col-md-2 {
      &:nth-of-type(6n+1) {clear: left;}
  }
}
