//
// Import Compass
//
@import 'compass';
@import 'compass/css3/user-interface';

//
// Variables & Mixins
//
@import 'mixins';
@import 'fonts';
@import 'animates';
@import 'common';

/*metro style*/
.dashboard-management {
  min-height: 100%;
}
.heading-page {
  padding: 10px 0;
  &, h1, .h1 {color: #FFF;}
  h1, .h1 {
    @include mobile {font-size: 26px;}
  }
}

.flat-item {
  margin-bottom: 20px;
  color: #FFF;
  cursor: pointer;
  .inner-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    &:before {
      content: "";
      display: block;
      padding-top: 94.87%;
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%; top: 0;
      height: 0; overflow: hidden;
      background-color: transparent;
      @include single-transition(all,0.5s);
      @include border-radius(2px 2px 0 0);
    }
  }
  a {
    color: inherit;
    &:hover {text-decoration: none;}
  }
  img {
    position: absolute; z-index: 2;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 80%; max-height: 80%; width: auto; height: auto;
    @include tablet {
      max-width: 70%; max-height: 70%;
    }
    @include mobile {
      max-width: 60%; max-height: 60%;
    }
  }
  .fa, .glyphicon {
    position: absolute;
    z-index: 3;
    font-size: 4.5em;
    top: 50%;
    left: 50%;
    @include center-pos;
  }
  .caption-text {
    /*Chipl update here*/
    width: 100%;
    display: block;
    padding: 0 20px 0;
    margin: 0;
    font-size: 18px;
    @include mobile {
      font-size: 14px; line-height: 16px;
      padding: 3px 5px;
    }
    text-align: center;
    @include border-radius(0 0 2px 2px);
    background-color: rgba(0, 0, 0, 0.25);
    &, &:hover, &:focus {text-decoration: none;}
  }
  a {
    color: inherit;
    &:hover {text-decoration: none;}
  }
  &:hover {
    .inner-item:after {
      background-color: rgba(0, 0, 0, 0.25);
      height: 100%;
    }
    .caption-text {
      @include single-transition(all,0.3s);
    }
  }
}

/*search box*/
.search-box {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 20px 0;
  @include clearfix;
  &, * {
    @include single-transition(all,0.5s);
  }
  .search-inner {
    position: relative;
    color: #666;
    i {
      position: absolute;
      @include ver-pos;
      left: 15px;
      color: inherit;
      font-size: 20px;
    }
    .form-control {
      background-color: transparent;
      border: #8f29b3 solid 1px;
      @include border-radius(2px);
      color: inherit;
      font-size: 20px;
      height: 40px;
      line-height: 40px;
      padding-left: 45px;
    }
  }
  .search-mode {
    display: none;
    font-size: 26px;
    position: relative;
    color: #FFF; padding: 2px;
    width: 30px; height: 30px;
    overflow: hidden; cursor: pointer;
    &:before, &:after {position: absolute; width: 26px; height: 26px; @include single-transition(all,0.2s);}
    &:before {
      content: "\e86f";
      left: 2px;
      opacity: 1;
    }
    &:after {
      content: "\e870";
      left: -30px;
      opacity: 0;
    }
  }
  @include mobile {
    height: 51px;
    padding: 10px 0;
    background-color: #000;
    .search-inner {
      position: absolute;
      top: 41px; left: -100%;
      width: 100%;
      padding: 0 15px;
      background-color: #000;
      z-index: 5;
      .form-control {
        font-size: 18px; padding-left: 35px;
        &, &:focus {border: none; box-shadow: none;}
      }
      i {left: 25px;}
    }
    .search-mode {
      display: inline-block;
    }

    &.search-active {
      .search-inner {
        top: 41px; left: 0;
      }
      .search-mode {
        &:before {left: 30px; opacity: 0;}
        &:after {left: 2px; opacity: 1;}
      }
    }
  }
}

.login-block {
  position: absolute;
  z-index: 5;
  top: 20px; right: 15px;
  .btn-facebook {margin-top: 3px;}
  @include mobile {
    top: 11px;
    .btn-facebook {
      margin-top: 0; font-size: 11px;
    }
  }
}
/*grid system responsive*/
@include mobile {
	.col-xs-12 .col-xs-6,
    .col-sm-12 .col-xs-6,
    .col-md-12 .col-xs-6,
    .col-lg-12 .col-xs-6 {
      &:nth-of-type(2n+1) {clear: left;}
    }
}

@include large-mobile {
  .dashboard-management {
    .col-xs-6 {
      width: 33.33333333%;
      &:nth-of-type(2n+1) {clear: none;}
      &:nth-of-type(3n+1) {clear: left;}
    }
  }
}

@include tablet {
	.col-xs-12 .col-sm-3,
    .col-sm-12 .col-sm-3,
    .col-md-12 .col-sm-3,
    .col-lg-12 .col-sm-3 {
      &:nth-of-type(4n+1) {clear: left;}
  }
}

@include desktop {
	.col-xs-12 .col-md-2,
    .col-sm-12 .col-md-2,
    .col-md-12 .col-md-2,
    .col-lg-12 .col-md-2 {
      &:nth-of-type(6n+1) {clear: left;}
  }
}
