//
// Import Compass
//
@import 'compass';
@import 'compass/css3/user-interface';

//
// Variables & Mixins
//
//@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'animates';
@import 'common';

img {
  width: 100%;
  /* or any custom size */
  height: 100%;
  object-fit: contain;
}

/*create product*/
.create-products {
  position: relative;
  min-height: 100%; overflow: hidden;
  background-color: rgba(0, 0, 0, 0.65);
  padding-top: 15px; padding-bottom: 15px;

  fieldset.scheduler-border {
    border: 1px groove #ffff99;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
  }
  legend.scheduler-border {
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: left;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
  }
  legend[app-role="setsName"] {
    color: #FFF;
    border-bottom: #FFF solid 1px;
  }
  .popover {
    min-width: 400px;
    border-radius: 2px;
    .popover-title {
      border-radius: 1px 1px 0 0;
    }
  }
  .btn {
    border-radius: 2px;
  }
  .control {
     padding: 10px;
  }
  .ui-sortable-placeholder {
    border: 1px dashed #aaa;
    height: 45px;
    width: 100%;
    background: #fafafa;
  }
  main_panel {
    label {
      color: inherit;
      padding-left: 0;
    }
    label, label + input[type="checkbox"], label + input[type="radio"] {
      width: auto;
    }
    > label {
      margin-top: 7px;
    }
  }
  .popover-title {
    background: #00A600;
    text-transform: capitalize;
    color: #FFF;
  }
  .help-block {
    padding-left: 0;
  }
  legend, label, .help-block, a, span {
    color: #555;
    font-weight: normal;
  }
  .nav-tabs > li > a:hover {
    color: inherit;
  }
  .tab-content {
    padding-top: 20px;
  }
  #div1, #div2 {
    min-height: 50px;
    padding: 30px 20px 50px;
  }
  .c-left {
     float: left;
     clear: left;
  }
  .row.control {
    position: relative;
    cursor: pointer;
    zoom: 1;
    &:after {
      content: '.';
      display: block;
      clear: both;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      font-size: 0;
      line-height: 0;
    }
    &:before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
    }
  }
}

.panel {
  @include border-radius(0);
}

.preview + .preview-md, .preview-md + .preview-sm {
  display: none;
}

.heading-page {
  padding-top: 140px;
  h1, .h1 {color: #FFF;}
}
fieldset {
  .form-control {
    box-shadow: none;
    &, &:focus {
      border-color: #CCC;
      //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6)
    }
  }
}
fieldset .form-control:focus,
.select2.select2-container--focus,
.select2.select2-container--open,
.select2.select2-container--below:focus {
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
  border-radius: 0; padding-top: 1px; padding-bottom: 1px;
  border-color: #CCC;
}
.select2-container--default .select2-selection--multiple {
  border-color: #CCC;
  &, .select2-selection__choice {border-radius: 2px;}
  .select2-selection__choice {
     background: #00A600; border: none;
  }
}
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #FFF;
}
.select2-container .select2-selection--single {
  height: 34px; padding-top: 0; padding-bottom: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #555;
  line-height: 32px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 4px;
}

#systemAttributes .col-md-6.col-lg-6.control:nth-of-type(2n+1) {
  clear: left;
}
