<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Shop Registration</title>
<meta name="generator" content="Bootply" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/navbar.css">
<link rel="stylesheet" type="text/css" href="css/shop.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/imagePreview.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/breadcrumb.css">
<link rel="stylesheet" type="text/css" href="css/social-buttons.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="js/Crypto/cryptoUtils.js"></script>
<script src="js/registration/registrator.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="js/facebook/fb.js" type="text/javascript" charset="utf-8"></script>
<!--script type="text/javascript" src='js/navbar.js'></script-->
<style type="text/css">
.br-response {
    min-height: 220px;
}

.controls {
    margin-top: 15px;
    /*vertical-align: middle;*/
}

@media (min-width: 979px) {
    .br-response {
        min-height: 160px;
        padding-left: 15px;
    }
    #sidebar.affix-bottom {
        position: absolute;
    }
    #sidebar.affix-top {
        position: static;
        /*margin-top: 30px;*/
        /*width: 300px;*/
    }
    #sidebar.affix {
        position: fixed;
        top: 70px;
        /*width: 300px;*/
    }
}

.introduction .label {
    background-color: #5CB85C;
}

.form-control {
    border-radius: 0px;
    background-color: #fff;
}

img {
    width: 100%;
    /* or any custom size */
    height: 100%;
    object-fit: contain;
}
</style>

<body>
    <template id = "FbPad">
        <div class="fb-avatar">
            <span class="img-avatar"><img app-role = "fbAvatar"></span>
            <span app-role = "fbName"></span>
        </div>        
    </template>
    <section class='heading-page' style="opacity: 1">
        <div class="container-fluid">
            <div class="col-md-12 col-lg-12 " style="text-align:center">
                <h1> Sign up - Shop registration</h1>
            </div>
        </div>
    </section>
    <!-- <hr> -->
    <!-- Metro style -->
    <div class="container-fluid " id="start-offset" style="min-height: 70%;">
        <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3"></div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                             OPEN YOUR FREE SHOP
                        </h2>
                    </div>
                    <div class="panel-body">
                        <h4>Start with your facebook account</h4>
                        <br>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-md-8 col-lg-8">
                                <div class="form-group">
                                    <label for="txt_shopName">Choose Shop Name:</label>
                                    <input type="text" class="form-control" id="txt_shopName">
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-4" style="padding-left: 0px;">
                                <div app-role = 'removeAfterLogin'>
                                    <label for="usr">Login with facebook</label>
                                    <button class="btn btn-facebook" id="bntFbLogin"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
                                </div>                                
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="row form-group" style="padding:15px;">
                                <div class="col-xs- col-sm- col-md- col-lg-">
                                    <button type="button" class="btn btn-primary col-xs-12 col-sm-1 col-md-12 col-lg-12 disabled" id="bntCon">Continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3"></div>
    </div>
    <div id="end-offset"></div>
    <footer>
        <div style=" width: 100%; background-color: rgba(0,0,0,.85); height: 90px;">
            @Copyright:abcd@abc.jsc
        </div>
    </footer>
    </div>
    <div id="phasebeam">
        <canvas id="backgroundAni" width="120%" height="100%">
        </canvas>
    </div>
    <!--  -->
    <!--  -->
    <script type="text/javascript" src="js/c2runtime.js"></script>
    <script type="text/javascript" src="js/ImageSelector/chiplcrop.js"></script>
</body>
<script type="text/javascript">
$(function() {

    // Activate background
        cr_createRuntime("backgroundAni");
    // $('#nav-wrapper').height($("#nav").height());
    // $('#nav-wrapper').height(200);
    $('#nav').affix({
        offset: {
            top: function() {
                // Do other stuff here-- chipl
                return $('#start-offset').offset().top / 2;
            }
        }
    });
    // Sidebar affix
    $('#sidebar').affix({
        offset: {
            top: $('#start-offset').offset().top + 0,
            bottom: $('#end-offset').outerHeight() - 20
        }
    }).on('affix.bs.affix', function() { // before affix
        $(this).css({
            /*'top': headerHeight,*/ // for fixed height
            'width': $(this).outerWidth() // variable widths
        });
    }).on('affix-bottom.bs.affix', function() { // before affix-bottom
        // $(this).css('bottom', 'auto'); // THIS is what makes the jumping
    });;
});
$(document).ready(function() {
    /** code inside **/
    var masthead = $("#masthead");
    masthead.addClass('start');
    var RSAPublicKey = <%-JSON.stringify(RSApublicKey)%>
    var bntFbLogin = document.getElementById('bntFbLogin');
    var fb = new fbHandler(getStatus, bntFbLogin);
    function getStatus(objFb) {
        // console.log(objFb);
        //loginStatus:"connected"
        if (objFb.loginStatus == "connected"){
            removedElement = document.querySelector("[app-role = 'removeAfterLogin']");
            var fbPad = document.getElementById("FbPad").content;
            var fbAvatar = fbPad.querySelector('[app-role = "fbAvatar"]');
            var fbName = fbPad.querySelector('[app-role = "fbName"]');
            fbAvatar.setAttribute("src", objFb.fbAvatar);
            fbName.innerHTML = objFb.fbName;
            getToken(objFb.fbId, objFb.fbToken, RSAPublicKey);
            var parent = removedElement.parentNode;
            parent.removeChild(removedElement);
            parent.appendChild(document.importNode(fbPad, true));
            document.getElementById('bntCon').classList.toggle("disabled");
            document.getElementById('bntCon').addEventListener("click", goAhead, false);
        }
    }
    function goAhead(){
        console.log("I am here ");
    }

    function checkAvalableShopName(shopName){
        return false;
    }



});
</script>

</html>
