<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Shop Registration</title>
<meta name="generator" content="Bootply" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/social-buttons.css">
<link rel="stylesheet" type="text/css" href="css/shop.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="js/Crypto/cryptoUtils.js"></script>
<script src="js/registration/registrator.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="js/facebook/fb.js" type="text/javascript" charset="utf-8"></script>
<!--script type="text/javascript" src='js/navbar.js'></script-->
<body>
    <div class="shop-registration">
        <template id = "FbPad">
            <div class="user-account">
                <div class="fb-avatar">
                    <span class="username-text" app-role = "fbName"></span>
                    <span class="avatar-img"><img app-role = "fbAvatar"></span>
                </div>
            </div>

        </template>
        <section class="heading-page">
            <div class="container-fluid">
                <div class="col-md-12">
                    <h1> Sign up - Shop registration</h1>
                </div>
            </div>
        </section>

        <div class="container-fluid" id="start-offset">
            <div class="col-xs-1 col-sm-2 col-md-2 col-lg-3"></div>
            <div class="col-xs-10 col-sm-8 col-md-8 col-lg-6">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                 OPEN YOUR FREE SHOP
                            </h2>
                        </div>
                        <div class="panel-body col-md-12">
                            <h4>Start with your facebook account</h4>
                            <br>
                            <div class="clearfix">
                                <div class="col-sm-7 col-md-8">
                                    <div class="form-group">
                                        <label for="txt_shopName">Choose Shop Name:</label>
                                        <input type="text" class="form-control" id="txt_shopName" data-toggle="popover" title="Info" >
                                    </div>
                                </div>
                                <div class="col-sm-5 col-md-4">
                                    <div app-role = 'removeAfterLogin'>
                                        <label for="usr" class="hide-mobile">Login with facebook</label>
                                        <button class="btn btn-facebook" id="bntFbLogin"><i class="fa fa-facebook"></i> Login with Facebook</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <!-- btn-primary -->
                                <button type="button" class="btn disabled" id="bntCon">Waiting for your Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-1 col-sm-2 col-md-2 col-lg-3"></div>
        </div>
        <div id="end-offset"></div>
    </div>
    <footer>
        <div class="col-md-12 footer-inner">
            @Copyright:abcd@abc.jsc
        </div>
    </footer>
    <div id="phasebeam">
        <canvas id="backgroundAni" width="120%" height="100%"></canvas>
    </div>
    <script type="text/javascript" src="js/c2runtime.js"></script>
    <script type="text/javascript" src="js/ImageSelector/chiplcrop.js"></script>

</body>
<script type="text/javascript">
$(function() {
    // Activate background
        cr_createRuntime("backgroundAni");   
});

var systoken;
var fbId;
var fbToken;
var conBnt;
var RSAPublicKey;
$(document).ready(function() {
    /** code inside **/
    var masthead = $("#masthead");
    masthead.addClass('start');
    RSAPublicKey = <%-JSON.stringify(RSApublicKey)%>
    var bntFbLogin = document.getElementById('bntFbLogin');
    var fb = new fbHandler(getStatus, bntFbLogin);
    document.getElementById('txt_shopName').addEventListener('input',function(evt){
        $(this).popover('destroy');
    },false)
    function getStatus(objFb) {
        // console.log(objFb);
        //loginStatus:"connected"
        if (objFb.loginStatus == "connected"){
            removedElement = document.querySelector("[app-role = 'removeAfterLogin']");
            var fbPad = document.getElementById("FbPad").content;
            var fbAvatar = fbPad.querySelector('[app-role = "fbAvatar"]');
            var fbName = fbPad.querySelector('[app-role = "fbName"]');
            fbAvatar.setAttribute("src", objFb.fbAvatar);
            fbName.innerHTML = objFb.fbName;
            fbId = objFb.fbId;
            fbToken = objFb.fbToken;
            if(!systoken){
                systoken = localStorage.getItem("app_token");
                checkToken(objFb.fbId, systoken,RSAPublicKey, afterCheckToken);
            }else{
                getToken(fbId, fbToken, RSAPublicKey,afterGetToken);
            }            
            
            var parent = removedElement.parentNode;
            parent.removeChild(removedElement);
            parent.appendChild(document.importNode(fbPad, true));
            // btn-primary
            conBnt = document.getElementById('bntCon');
            conBnt.classList.add('btn-info');
            conBnt.innerHTML = "Get system Token";
            
        }
    }
    function goAhead(){
        var inputShopName = document.getElementById('txt_shopName');
        //  placement : 'top'      
        
        var endpoint = window.location.href + 'checkAndRegisterShopName';
        var payload = inputShopName.value;
        var fn_cb = function(obj){
            console.log("return obj: ", obj);
            if (obj.status !=0){
                $(inputShopName).popover({ placement : 'top', content: obj.err});
                $(inputShopName).popover('show');
            }
            if(obj.status ==2){
                inputShopName.value = obj.return;
                // Redirect in to shop/app
                var nextPage = window.location.origin +"/" + obj.return + "/app";
                window.location = nextPage;
            }
        };
        postSensitiveData(fbId, systoken, RSAPublicKey, endpoint, payload, fn_cb);
    }

    function checkAvalableShopName(shopName){
        return false;
    }
    function afterGetToken(token){
        systoken = token;
        // console.log("from afterGetToken: ", token);
        enableConBnt();
        goAhead();
    }
    function afterCheckToken(result){
        if(result.errNum != 0){
            getToken(fbId, fbToken, RSAPublicKey,afterGetToken);
            return;
        }
        // console.log("afterGetToken: ", result);
        enableConBnt();
        goAhead();
    }
    function enableConBnt(){
        conBnt.classList.toggle("disabled", "btn-info", "btn-primary");
        conBnt.classList.remove('disabled', 'bnt-info');
        conBnt.classList.add('btn-primary');
        conBnt.addEventListener("click", goAhead, false);
        conBnt.innerHTML = "Continue";
    }
});
</script>

</html>
